$uno:'BenchNine';
$dos:'Yantramanav';
$tres:'Open Sans Condensed';
$cuatro:'Yanone Kaffeesatz';
$cinco:'Dosis';
$seis:'PT Sans Narrow';
$background:#A3B7A3;
$boxes:transparentize(#023800,0.5);
$font:#353d2f;
$white:#F2F2F2;